.red {
    color: red;
}
.margin {
	margin: 15px;
}
.margin-top {
	margin-top: 15px;
}
.margin-bottom {
	margin-bottom: 15px;
}
.margin-right {
	margin-right: 15px;
}
.margin-left {
	margin-left: 15px;
}
.padding {
	padding: 15px;
}
.padding-top {
	padding-top: 15px;
}
.padding-bottom {
	padding-bottom: 15px;
}
.padding-right {
	padding-right: 15px;
}
.padding-left {
	padding-left: 15px;
}
.required:after {
	content: '[\f069]';
	font-family: FontAwesome;
	margin-left: 10px;
    position:absolute;
    top:0;
    color: red;
}
.pointer {
	cursor: pointer;
}

.flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.flex-center-vertical {
    align-items: center;
    display: flex;
}

.flex-center-horizontal {
    justify-content: center;
    display: flex;
}

/* New or Sale */
.is-new:before, .is-sale:before {
    z-index: 100;
    font-size: 12px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 22px;
    border-radius: 11px;
    margin: 0 auto;
}

.is-sale:before {
    background-color: #e65540;
    content: 'Sale';
}

.is-new:before {
    background-color: #66a8a6;
    content: 'New';
}
