.margin {
	margin: 15px;
}
.margin-top {
	margin-top: 15px;
}
.margin-bottom {
	margin-bottom: 15px;
}
.margin-right {
	margin-right: 15px;
}
.margin-left {
	margin-left: 15px;
}
.padding {
	padding: 15px;
}
.padding-top {
	padding-top: 15px;
}
.padding-bottom {
	padding-bottom: 15px;
}
.padding-right {
	padding-right: 15px;
}
.padding-left {
	padding-left: 15px;
}
.required:after {
	content: '[\f069]';
	font-family: FontAwesome;
	margin-left: 10px;
    position:absolute;
    top:0;
    color: red;
}