.border-top {
    border-top: 1px solid #e6e6e6;
}

.border-botom {
    border-botom: 1px solid #e6e6e6;
}

.home-title-product {
	position: relative;
}

.home-title-product:before {
    content: "\f097";
    font-family: FontAwesome;
    width: 40px;
    height: 30px;
    background: #FFF;
    position: absolute;
    bottom: -37px;
    color: #333;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 400;
    z-index: 1;
}

.home-title-product:after {
    content: "";
    width: 230px;
    height: 1px;
    background: #CCC;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.block2-overlay:hover .btn-product-detail {
    bottom: 20px;
}

.btn-product-detail {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -45px;
}

/* Pagination */
.page-item .page-link {
    font-size: 13px;
    color: grey;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 6px;

    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;

    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.page-item.active .page-link, .page-item .page-link:hover {
    background-color: #222;
    color: #fff;
    border-color: #eee;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 50%;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.flex-center-vertical {
    align-items: center;
    display: flex;
}

.flex-center-horizontal {
    justify-content: center;
    display: flex;
}

.margin {
    margin: 15px;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}

.padding {
    padding: 15px;
}

.padding-top {
    padding-top: 15px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.padding-right {
    padding-right: 15px;
}

.padding-left {
    padding-left: 15px;
}

.red {
    color: red !important;
}

.right {
    float: right;
}

.order-list-product li {
    border-bottom: 2px dashed #d9d9d9;
}

.order-list-product li:last-child {
    border-bottom: none;
}

.cart-remove-item {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 15px !important;
    line-height: 19px !important;
    border-radius: 100%;
    color: #ccc;
    font-weight: bold;
    text-align: center;
    border: 2px solid currentColor;
}

.cart-remove-item:hover {
    color: #000;
    cursor: pointer;
}

/* Messenger */
.btn-messenger {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 100px;
    right: 43px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 4px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
}

.btn-messenger img {
    width: 45px;
    height: 45px;
}

@media (max-width: 576px) {
    .btn-messenger {
        bottom: 70px;
        right: 19px;
    }
}

/* New or Sale */
.is-new:before, .is-sale:before {
    z-index: 100;
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 22px;
    border-radius: 11px;
}

.is-sale:before {
    background-color: #e65540;
    content: 'Sale';
}

.is-new:before {
    background-color: #66a8a6;
    content: 'New';
}

.pd-oldprice {
    text-decoration: line-through;
}

.pd-newprice {
    color: #e65540;
}

.bold {
    font-weight: bold;
}

.required::after {
    content: ' *';
    color: #ff0000;
}
